body {
    font-family: monospace;
    overflow: hidden;
}

[data-route="close"] {
    padding: 10px;
}

[data-route="connection"] {
    padding: 10px;
}

[data-route="workspace"] {
    font-size: 14px;
    background-color: #fff;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100vh;
}

[data-route="workspace"] .btn[disabled] {
    opacity: 0.6;
}

[data-route="workspace"] .control-pad .form-control[disabled] {
    opacity: 0.4;
}

[data-route="workspace"] .middle-block {
    top: 100%;
    left: 0;
    z-index: 100;
}

[data-route="workspace"] .jog-controls {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px;
}

[data-route="workspace"] .jog-controls__row {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

[data-route="workspace"] .run-controls {
    display: none;
}

[data-route="workspace"]>*:last-child {
    margin-bottom: 0;
}

[data-route="workspace"] .dropdown-menu>li>a .fa {
    width: 16px;
}

[data-route="workspace"] .axis-position {
    background-color: azure;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    gap: 10px;
}

[data-route="workspace"] .axis-position__offset {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

[data-route="workspace"] .axis-position__state {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'label position position'
        '. set-zero to-zero';
}

[data-route="workspace"] .axis-position__state .axis-label {
    grid-area: label;
    display: flex;
    align-items: center;
    justify-content: end;
}

[data-route="workspace"] .axis-position__state .position {
    grid-area: position;
}

[data-route="workspace"] .axis-position__state .btn {
    grid-area: set-zero;
}

[data-route="workspace"] .axis-position__state .btn:last-child {
    grid-area: to-zero;
}

[data-route="workspace"] .control-pad {
    background-color: lightyellow;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

[data-route="workspace"] .btn {
    width: 100%;
}

[data-route="workspace"] .nav-panel {
    padding: 10px;
}

[data-route="workspace"] .active-state {
    text-align: center;
}

[data-route="workspace"] .pos-name {
    text-align: center;
}

[data-route="workspace"] .info-button {
    text-align: center;
    padding: 5px 10px;
}

[data-route="workspace"] .position {
    text-align: right;
    font-size: 16px;
}

[data-route="workspace"] .load {
    font-size: 12px;
    width: 99%;
    resize: none;
}

[data-route="workspace"] .file {
    visibility: hidden;
    position: absolute;
    left: -1000px;
}

[data-route="workspace"] .fileslist {
    padding-top: 20px;
}

[data-route="workspace"] textarea {
    font-size: 9px;
    width: 99%;
    resize: none;
}

[data-route="workspace"] .axis-position .btn {
    text-align: center;
}

[data-route="workspace"] .btn-units {
    text-align: left;
}

[data-route="workspace"] .rotate-45deg {
    transform: rotate(45deg);
}

[data-route="workspace"] .rotate-45deg:before {
    transform: rotate(45deg);
}

[data-route="workspace"] .rotate--45deg {
    transform: rotate(-45deg);
}

[data-route="workspace"] .rotate--45deg:before {
    transform: rotate(-45deg);
}

[data-route="workspace"] .rotate-90deg {
    transform: rotate(90deg);
}

[data-route="workspace"] .rotate-90deg:before {
    transform: rotate(90deg);
}

[data-route="workspace"] .rotate--90deg {
    transform: rotate(-90deg);
}

[data-route="workspace"] .rotate--90deg:before {
    transform: rotate(-90deg);
}

[data-route="workspace"] .mdi {
    background-color: lavenderblush;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    flex-grow: 2;
    padding: 10px;
}

[data-route="workspace"] .mdi .code {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

[data-route="workspace"] .mdi .code__row {
    display: flex;
    gap: 10px;
}

[data-route="workspace"] .mdi .code__row * {
    flex: 1;
}

[data-route="workspace"] .mdi .code__row *:first-child {
    flex-grow: 2;
}

[data-route="workspace"] .preview {
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-route="workspace"] #small-toolpath {
    max-width: 100%;
}

[data-route="workspace"] .messages {
    flex-grow: 2;
}

[data-route="workspace"] .gcode,
[data-route="workspace"] .messages {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.5em 1em;
    width: 100%;
}

@media (min-width: 736px) {
    [data-route="workspace"] {
        font-size: 14px;
    }

    [data-route="workspace"] .dropdown-menu {
        min-width: 180px;
    }

    [data-route="workspace"] .dropdown-menu>li>a .fa {
        width: 14px;
    }

    [data-route="workspace"] .axis-label {
        font-size: 24px;
    }

    [data-route="workspace"] .dropdown-menu {
        font-size: 14px;
    }

    [data-route="workspace"] .btn,
    [data-route="workspace"] .form-control {
        font-size: 14px;
        height: 30px;
    }

    [data-route="workspace"] .position {
        font-size: 18px;
    }

    [data-route="workspace"] #jog-distance {
        text-align-last: right;
    }

    [data-route="workspace"] textarea {
        font-size: 9px;
    }
}

@media (min-width: 768px) {
    [data-route="workspace"] {
        font-size: 15px;
    }

    [data-route="workspace"] .dropdown-menu {
        min-width: 180px;
    }

    [data-route="workspace"] .dropdown-menu>li>a .fa {
        width: 15px;
    }

    [data-route="workspace"] .axis-label {
        font-size: 24px;
    }

    [data-route="workspace"] .dropdown-menu {
        font-size: 15px;
    }

    [data-route="workspace"] .btn,
    [data-route="workspace"] .form-control {
        font-size: 15px;
        height: 30px;
    }

    [data-route="workspace"] .position {
        font-size: 19px;
    }

    [data-route="workspace"] #jog-distance {
        text-align-last: right;
    }

    [data-route="workspace"] textarea {
        font-size: 11px;
    }
}

@media (min-width: 992px) {
    [data-route="workspace"] {
        font-size: 20px;
    }

    [data-route="workspace"] .dropdown-menu {
        min-width: 200px;
    }

    [data-route="workspace"] .dropdown-menu>li>a .fa {
        width: 20px;
    }

    [data-route="workspace"] .axis-label {
        font-size: 28px;
    }

    [data-route="workspace"] .dropdown-menu {
        font-size: 20px;
    }

    [data-route="workspace"] .btn,
    [data-route="workspace"] .form-control {
        font-size: 20px;
        height: 40px;
    }

    [data-route="workspace"] .position {
        font-size: 24px;
    }

    [data-route="workspace"] textarea {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    [data-route="workspace"] {
        font-size: 28px;
    }

    [data-route="workspace"] .dropdown-menu {
        min-width: 220px;
    }

    [data-route="workspace"] .dropdown-menu>li>a .fa {
        width: 28px;
    }

    [data-route="workspace"] .axis-label {
        font-size: 32px;
    }

    [data-route="workspace"] .dropdown-menu {
        font-size: 28px;
    }

    [data-route="workspace"] .btn,
    [data-route="workspace"] .form-control {
        font-size: 28px;
        height: 52px;
    }

    [data-route="workspace"] .position {
        font-size: 28px;
    }

    [data-route="workspace"] textarea {
        font-size: 15px;
    }
}