@font-face {
    font-family: 'Share Tech Mono';
    font-weight: 400;
    src: url('../vendor/ShareTechMono-Regular.ttf');
}

body {
    font-family: 'Share Tech Mono', monospace;
    overflow: hidden;
    background: #000;
    color: #fff;

    --color-x: #ffc8c8;
    --color-y: #c8ffc8;
    --color-z: #c8e5ff;
    --color-a: #ffe7c8;
}

.status-contols {
    display: flex;
    gap: 10px;
}

.status-contols .btn:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.status-contols .btn:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn.btn-default {
    border-radius: 1em;
    line-height: 1;
    color: #fff;
    background: #1a6cb5;
    border: 2px solid #309dff;
    position: relative;
    transition: border 150ms ease-in-out, background 150ms ease-in-out, top 150ms ease-in-out;
}

.btn.btn-default:hover {
    color: #fff;
    background: #2a7cc5;
    border: 2px solid #309dff;
}

.btn.btn-default:active {
    top: 1px;
    color: #fff;
    background: #0a5ca5;
    border: 2px solid #107ddf;
}

.nmpd-btn {
    border-radius: 1em;
    line-height: 1;
    color: #fff;
    background: #1a6cb5;
    border: 2px solid #309dff;
    position: relative;
    transition: border 150ms ease-in-out, background 150ms ease-in-out, top 150ms ease-in-out;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.nmpd-btn:hover {
    color: #fff;
    background: #2a7cc5;
    border: 2px solid #309dff;
}

.nmpd-btn.btn-default:active {
    top: 1px;
    color: #fff;
    background: #0a5ca5;
    border: 2px solid #107ddf;
}

input.nmpd-display {

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number][readonly] {
    background: transparent;
    color: #fff;
    padding: 0;
    border: none;
}

[data-route="close"] {
    padding: 10px;
}

[data-route="connection"] {
    padding: 10px;
}

[data-route="workspace"] {
    font-size: 14px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100vh;
}

[data-route="workspace"] .btn[disabled] {
    opacity: 0.6;
}

[data-route="workspace"] .control-pad .form-control[disabled] {
    opacity: 0.4;
}

[data-route="workspace"] .form-control {
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

[data-route="workspace"] .axis-position__state--x input {
    color: var(--color-x);
}

[data-route="workspace"] .axis-position__state--y input {
    color: var(--color-y);
}

[data-route="workspace"] .axis-position__state--z input {
    color: var(--color-z);
}

[data-route="workspace"] .axis-position__state--a input {
    color: var(--color-a);
}

[data-route="workspace"] .form-control#filelist {
    min-width: 6em;
}

[data-route="workspace"] .middle-block {
    top: 100%;
    left: 0;
    z-index: 100;
}

[data-route="workspace"] .jog-controls {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 10px 10px 20px;
}

[data-route="workspace"] .jog-controls__row {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
}

[data-route="workspace"] .run-controls {
    display: none;
}

[data-route="workspace"]>*:last-child {
    margin-bottom: 0;
}

[data-route="workspace"] .dropdown-menu>li>a .fa {
    width: 16px;
}

[data-route="workspace"] .axis-position {
    padding: 10px 10px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

[data-route="workspace"] .axis-position__offset {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 10px;
}

[data-route="workspace"] .axis-position__state {
    display: grid;
    gap: 10px;
    row-gap: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        'label position position'
        '. set-zero to-zero';
}

[data-route="workspace"] .axis-position__state .axis-label {
    grid-area: label;
    display: flex;
    align-items: center;
    justify-content: end;
}

[data-route="workspace"] .axis-position__state .position {
    grid-area: position;
}

[data-route="workspace"] .axis-position__state .btn {
    grid-area: set-zero;
}

[data-route="workspace"] .axis-position__state .btn:last-child {
    grid-area: to-zero;
}

[data-route="workspace"] .control-pad {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

[data-route="workspace"] .btn {
    width: 100%;
}

[data-route="workspace"] .nav-panel {
    padding: 10px;
}

[data-route="workspace"] .active-state {
    text-align: center;
}

[data-route="workspace"] .pos-name {
    text-align: center;
}

[data-route="workspace"] .info-button {
    text-align: center;
    padding: 5px 10px;
}

[data-route="workspace"] .position {
    text-align: right;
    font-size: 16px;
}

[data-route="workspace"] .load {
    font-size: 12px;
    resize: none;
}

[data-route="workspace"] .file {
    visibility: hidden;
    position: absolute;
    left: -1000px;
}

[data-route="workspace"] .fileslist {
    padding-top: 20px;
}

[data-route="workspace"] textarea {
        font-size: 9px;
    resize: none;
    color: #fff;
    background: #101010;
    border: 2px solid #444;
    border-radius: 4px;
}

[data-route="workspace"] input {
    color: #fff;
    background: #101010;
    border: 2px solid #444;
    border-radius: 4px;
}

select.form-control,
[data-route="workspace"] select {
    color: #fff;
    background: #101010;
    border: 2px solid #444;
    border-radius: 4px;
}

[data-route="workspace"] .axis-position .btn {
    text-align: center;
}

[data-route="workspace"] .btn-units {
    text-align: left;
    max-width: 4em;
}

[data-route="workspace"] .rotate-45deg {
    transform: rotate(45deg);
}

[data-route="workspace"] .rotate-45deg:before {
    transform: rotate(45deg);
}

[data-route="workspace"] .rotate--45deg {
    transform: rotate(-45deg);
}

[data-route="workspace"] .rotate--45deg:before {
    transform: rotate(-45deg);
}

[data-route="workspace"] .rotate-90deg {
    transform: rotate(90deg);
}

[data-route="workspace"] .rotate-90deg:before {
    transform: rotate(90deg);
}

[data-route="workspace"] .rotate--90deg {
    transform: rotate(-90deg);
}

[data-route="workspace"] .rotate--90deg:before {
    transform: rotate(-90deg);
}

[data-route="workspace"] .mdi {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 4fr 6fr;
    flex-grow: 2;
    padding: 10px;
}

[data-route="workspace"] .mdi .code {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

[data-route="workspace"] .mdi .code__row {
    display: flex;
    gap: 10px;
}

[data-route="workspace"] .mdi .code__row * {
    flex: 1;
}

[data-route="workspace"] .mdi .code__row *:first-child {
    flex-grow: 2;
}

[data-route="workspace"] .preview {
    display: flex;
    align-items: center;
    justify-content: center;
}

[data-route="workspace"] #small-toolpath {
    max-width: 100%;
}

[data-route="workspace"] .messages {
    flex-grow: 2;
}

[data-route="workspace"] .gcode,
[data-route="workspace"] .messages {
    padding: 0.5em 1em;
    width: 100%;
}

@media (min-width: 736px) {
    [data-route="workspace"] {
        font-size: 14px;
    }

    [data-route="workspace"] .dropdown-menu {
        min-width: 180px;
    }

    [data-route="workspace"] .dropdown-menu>li>a .fa {
        width: 14px;
    }

    [data-route="workspace"] .axis-label {
        font-size: 24px;
    }

    [data-route="workspace"] .dropdown-menu {
        font-size: 14px;
    }

    [data-route="workspace"] .btn,
    [data-route="workspace"] .form-control {
        font-size: 14px;
        height: 30px;
    }

    [data-route="workspace"] .form-control.mdifield,
    [data-route="workspace"] .form-control#filelist {
        font-size: 9px;
    }

    [data-route="workspace"] .position {
        font-size: 18px;
    }

    [data-route="workspace"] #jog-distance {
        text-align-last: right;
    }

    [data-route="workspace"] textarea {
        font-size: 9px;
    }
}

@media (min-width: 768px) {
    [data-route="workspace"] {
        font-size: 15px;
    }

    [data-route="workspace"] .dropdown-menu {
        min-width: 180px;
    }

    [data-route="workspace"] .dropdown-menu>li>a .fa {
        width: 15px;
    }

    [data-route="workspace"] .axis-label {
        font-size: 24px;
    }

    [data-route="workspace"] .dropdown-menu {
        font-size: 15px;
    }

    [data-route="workspace"] .btn,
    [data-route="workspace"] .form-control {
        font-size: 15px;
        height: 30px;
    }

    [data-route="workspace"] .form-control.mdifield,
    [data-route="workspace"] .form-control#filelist {
        font-size: 11px;
    }

    [data-route="workspace"] .position {
        font-size: 19px;
    }

    [data-route="workspace"] #jog-distance {
        text-align-last: right;
    }

    [data-route="workspace"] textarea {
        font-size: 11px;
    }
}

@media (min-width: 992px) {
    [data-route="workspace"] {
        font-size: 20px;
    }

    [data-route="workspace"] .dropdown-menu {
        min-width: 200px;
    }

    [data-route="workspace"] .dropdown-menu>li>a .fa {
        width: 20px;
    }

    [data-route="workspace"] .axis-label {
        font-size: 28px;
    }

    [data-route="workspace"] .dropdown-menu {
        font-size: 20px;
    }

    [data-route="workspace"] .btn,
    [data-route="workspace"] .form-control {
        font-size: 20px;
        height: 40px;
    }

    [data-route="workspace"] .form-control.mdifield,
    [data-route="workspace"] .form-control#filelist {
        font-size: 12px;
    }

    [data-route="workspace"] .position {
        font-size: 24px;
    }

    [data-route="workspace"] textarea {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {
    [data-route="workspace"] {
        font-size: 28px;
    }

    [data-route="workspace"] .dropdown-menu {
        min-width: 220px;
    }

    [data-route="workspace"] .dropdown-menu>li>a .fa {
        width: 28px;
    }

    [data-route="workspace"] .axis-label {
        font-size: 42px;
    }

    [data-route="workspace"] .dropdown-menu {
        font-size: 28px;
    }

    [data-route="workspace"] .btn,
    [data-route="workspace"] .form-control {
        font-size: 28px;
        height: 52px;
    }

    [data-route="workspace"] .form-control.mdifield,
    [data-route="workspace"] .form-control#filelist {
        font-size: 15px;
    }

    [data-route="workspace"] .position {
        font-size: 42px;
        height: 60px;
    }

    [data-route="workspace"] textarea {
        font-size: 15px;
    }
}